{% load template %}
{% load static %}

<form class="current-group" hx-post="{% url 'Task:htmxGroupBy' id=id %}" hx-trigger="click from:find button[type='submit']" hx-swap="outerHTML" hx-target="closest form" onsubmit="event.preventDefault()">
    <select name="column">
        <option value="" disabled selected>----------</option>

        {% for i in column %}
            <option value="{{ i|encode|hex }}">{{ i|rstrip:1 }}</option>
        {% endfor %}

    </select>
    <button type="submit" class="submit">Change</button>
    <button hx-delete="{% url 'Task:htmxGroupBy' id=id %}" hx-trigger="click" hx-target="closest form" hx-swap="outerHTML" class="cancel">Cancel</button>
</div>