<ul class="messages" id="messages">
    {% for message in messages %}
        {% if message.tags != 'success' %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %} >{{ message }}</li>
        {% else %}
            <script>
                swal("", "{{message}}", "success");
            </script>
        {% endif %}
    {% endfor %}

</ul>
<script defer>
    setTimeout(()=> {
        {% if redirect %}
            redirect("{{redirect}}");
        {% endif %}

    }, 2000);
</script>
{% block hxSwaps %}{% endblock %}