{% load static %}


<div hx-get="{% url 'User:mailChange' %}" hx-swap="outerHTML" hx-target="this" hx-target="click from:#edit" class="username">
    {% if email %}
        {{email}} 
    {% else %}
        No Email
    {% endif %}
    <button id="edit" class="edit"><img src="{% static 'img/edit.svg' %}" class="edit"></button>
</div>

{% if msg or error %}
    <ul class="messages" hx-swap-oob="true" id="messages">
        {% if msg %}
            <li class="success">{{msg}}</li>
        {% elif error %}
            <li class="error">{{error}}</li>
        {% else %}
            <li class="error"> Something went wrong! </li>
        {% endif %}
    </ul>
{% endif %}