{% extends 'Main/index.html' %}
{% load template %}
{% load static %}


{% block styleSheet %}
    <link rel="stylesheet" href="{% static 'styles/Upload/styles.css' %}">
{% endblock %}

{% block title %} Delete Form {% endblock %}

{% block customStyle %}
    <style>
        header{
            background-color: {{request.session.mainColor}};
            color: {{request.session.secColor}};
        }

        body{
            color: {{request.session.mainColor}};
        }

        header .user-log, header .add-task{
            color: {{request.session.mainColor}};
        }
    </style>
{% endblock %}

{% block headerLeft %}
    <a class="next-button" href="{% url 'Table:index' id=id %}">Back To Table View</a>
{% endblock %}

{% block headerCenter %}<h1>Delete Form</h1>{% endblock %}

{% block mainContent %}

    <div class="messages">
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %} >{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    {% if not messages %}

        <div class="upload-container">
            <h2>Delete Uploaded Excel</h2>
                {% csrf_token %}

                <button class="upload-button" hx-delete="{% url 'Upload:delete' id=id %}" hx-swap="innerHTML" hx-target=".messages" hx-trigger="click" >Delete Record</button>

                <div class="form-footer">
                    <p>Wrong Excel Uploaded? <a href="{% url 'Upload:view_edit' id=id %}">Edit Upload</a></p>
                </div>
            </form>
        </div>

    {% endif %}

{% endblock %}

{% block script %}
    <script>
        add_csrf();
    </script>
{% endblock %}
