{% extends 'Main/index.html' %}
{% load template %}
{% load static %}

{% block styleSheet %}
    <link rel="stylesheet" href="{% static 'styles/View/styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/read.css' %}">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
{% endblock %}

{% block title %} Single View {% endblock %}

{% block cssStyle %}
    {% if request.session.mainColor and request.session.secColor %}
            header{
                background-color: {{request.session.mainColor}};
                color: {{request.session.secColor}};
            }
            
            body{
                color: {{request.session.mainColor}};
            }

            .semester{
                background-color: {{request.session.mainColor|rgb:0.7 }};
            }

            .header-box{
                background-color: {{request.session.mainColor}};
                color: {{request.session.secColor}};
            }

            .semester h3 {
                border-color: {{request.session.secColor}};
                color: {{request.session.secColor}};
            }

            .semester p {
                color: {{request.session.secColor}};
            }

            header .user-log{
                color: {{request.session.mainColor}};
            }

            .personal-info p{
                color: {{request.session.mainColor}};
            }
        {% endif %}
    {% endblock %}

{% block headerLeft %}
    <button class="user-log" onclick="redirect(`{% url 'View:table' id=id %}`)">Back To Table View</button>
{% endblock %}

{% block headerCenter %}
    <h1>Row View</h1>
{% endblock %}

{% block mainContent %}

    <div class="container" hx-get="{% url 'View:index' id=id idx=idx %}" hx-vals='{"id":"{{id}}","idx":"{{idx}}"}' hx-trigger="load" hx-target=".tableView">

        <div class="tableView tab" hx-get="{% url 'View:feed' id=id idx=idx %}" hx-swap="outerHTML" hx-target=".sub-tab" hx-trigger="load">
        
        </div>


        <div class="sub-tab"></div>

        {% if manage %}
            <div class="issue_card"></div>
            <ul class="messages" id="messages"></ul>
        {% endif %}

        {% csrf_token %}
    </div>


    <p id="replace-me"></p>
{% endblock %}

{% block script %}

<script>
    add_csrf();
</script>

{% endblock %}