{% load template %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'styles/read.css' %}">
    <title>User Task Dashboard</title>
    <style>


        form{
            display: inline-block;
            margin-top: 10px;
        }

    </style>
</head>

<body>
    <header>
        <a href="{% url 'View:table' id=id %}"><button class="user-log">Back To Table View</button></a>
        <h1>Row View</h1>
    </header>

    <div class="container" hx-get="{% url 'View:index' id=id idx=idx %}" hx-vals='{"id":"{{id}}","idx":"{{idx}}"}' hx-trigger="load" hx-target=".tableView">

        <div class="tableView" hx-get="{% url 'View:feed' id=id idx=idx %}" hx-swap="outerHTML" hx-target=".feedback" hx-trigger="load">
        
        </div>


        <div class="feedback"></div>

        {% if manage %}
            <div class="issue_card" hx-get="{% url 'View:compress' id=id idx=idx %}" hx-swap="outerHTML" hx-trigger="load" hx-target=".issue_card"></div>
        {% endif %}
        <ul class="messages"></ul>

    </div>

</body>
<script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>

</html>
