{% extends 'Main/index.html' %}
{% load template %}
{% load static %}

{% block styleSheet %}
<link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/View/styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/read.css' %}">
{% endblock %}

{% block title %} Table View {% endblock %}

{% block cssStyle %}

        img{
            width: 200px;
            display: block;
            margin: 10px auto;
        }

        #verify{
            color:#4CAF50;
            display:inline;
        }

        #unchecked{
            color:#555;
            display:inline;
        }

        #reject{
            color: red;
            display:inline;
        }

        #feed-text{
            font-style: italic;
            display:inline;
        }

        #correct{
            display: inline-block;
            padding: 10px;
            color: white;
            background-color: green;
        }

        #wrong{
            display: inline-block;
            padding: 10px;
            color: white;
            background-color: red;
        }

        #none{
            display: inline-block;

            padding: 10px;
            color: white;
            background-color: grey;
        }

        th.next-button, td.next-button{
            position: sticky;
            right: 0px;
            z-index: 10;
            overflow-x:auto;
            padding: 0;
        }

        th.next-button{
            z-index: 20;
        }

        .view-icon button, a{
            background-color: #4CAF50;
            border-radius: 50px;
        }

        td.next-button button{
            width: 100px;
            height: 50px;
        }
        
        



        
        {% if request.session.mainColor and request.session.secColor %}
            header{
                background-color: {{request.session.mainColor}};
                color: {{request.session.secColor}};
            }
            
            body{
                color: {{request.session.mainColor}};
            }

            header .user-log, header .add-task{
                color: {{request.session.mainColor}};
            }
        {% endif %}
{% endblock %}

{% block headerLeft %}
    <a class="next-button back-dash" onclick="redirect(`{% url 'Dash:dash' %}`)">Back To DashBoard</a>
{% endblock %}
    
{% block headerCenter %}
    <h1>Table View</h1>
{% endblock %}

{% block headerRight %}
    {% block upload_button %}{% endblock %}
{% endblock %}

{% block mainContent %}

    <div class="tab" hx-get="{% url 'View:table' id=id %}" hx-target="this" hx-swap="outerHTML" hx-trigger="load">

        <div class="searchQuery">
            <h2>Search Columns: </h2>
            <form onsubmit="event.preventDefault()">
                
                <label for="column">Column: </label>
                <select name="column" id="column">
                    <option value>-----------</option>
                </select>

                <label for="search">Containing: </label>

                <input type="search" list="suggests" autocomplete="off" name="search" id="search" placeholder="Enter search keyword">
                <h3> Additional Search: </h3>
            
                <label for="status">Status: </label>
                <select name="status" id="status" class="searchSelect">
                    <option value="">----------</option>
                    <option value="none">Unchecked</option>
                    <option value="true">Verified</option>
                    <option value="false">Rejected</option>
                </select>
    
                <label for="lock">Locked: </label>
                <select name="lock" id="lock" class="searchSelect">
                    <option value="">----------</option>
                    <option value="true">Locked</option>
                    <option value="false">Not Locked</option>
                </select>
    
                <label for="issue">Issued: </label>
                <select name="issue" id="issue" class="searchSelect">
                    <option value="">----------</option>
                    <option value="true">Issued</option>
                    <option value="false">Not Issued</option>
                </select>
            </form>

        </div>


        <div class="tableView">
            <img src="{% static 'img/spinner.gif' %}" alt="Loading">
        </div>
    </div>
</div>
{% endblock %}

