.tab {
    margin: 20px auto;
    max-width: 1200px;
    padding: 20px;
    padding-top: 0px;
    background: white;
    border-radius: 8px;
    border: 1px solid rgb(216, 218, 220);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.sub-tab {
    margin-left: 20px;
}

form {
    margin: 0px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.form-field {
    margin: 5px;
}

.form-field label {
    font-weight: 400;
}

.form-field input::placeholder {
    font-weight: 600;
    font-size: 14px;
}

.form-field input {
    font-weight: 600;
    font-size: 14px;
}

.form-field select {
    width: 150px;
    font-style: italic;
}

.task-list {
    margin: 20px 0;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0px 0px 0px;
    background: #f0f0f0;
}

.task-item h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.log-view {
    margin-top: 20px;
}

.task-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background: #fff;
    transition: 1s;
    height: 0px;
    overflow: hidden;
    opacity: 0;
    border: 0px;
    height: 0px;
}

.task-info.close {
    height: 0px;
    border-radius: 0;
    border: 0;
    opacity: 0;
    padding: 0px 10px 0px 10px;
    transition: opacity 500ms, 700ms height, 700ms border, 700ms padding;
}

.task-info.open{
    height: 80px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: 0px 1px 1px 1px solid rgb(188, 190, 192);
    opacity: 1;
    padding: 10px;
    transition: opacity 500ms, 700ms height, 700ms border, 700ms padding;
}

.drop-down {
    width: 30px;
    height: 30px;
    margin: 0px;
    padding: 0;
    background-color: #fff;
    color: #535353;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
    flex-shrink: 0;
}

.drop-down.up{
    rotate: 180deg;
}

.drop-down.down{
    rotate: 360deg;
}

.assigned, .task-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    max-height: 100px;
    overflow-x: scroll;
    flex-grow: 1;
    scrollbar-width: none;
}

.assigned h4, .task-title h3 {
    display: inline-block;
    margin: 0;
    word-break:keep-all;
    word-wrap: break-word;
    padding-top: 10px;
    padding-bottom: 10px;
}

.drop-down:hover{
    background-color: #bababa;
}

.view-button {
    background-color: #4caf50;
    flex-shrink: 0;
}
.view-button:hover {
    background-color: #367b39;
    transform: translateY(-2px);
}


li{
    margin-bottom: 5px;
    margin-left: 5px;
}

.searchQuery{
    display: block;
    margin-bottom: 20px;
}

select{
    background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
    background-position: 95% center;
    -moz-appearance:none;
    -webkit-appearance: none; 
    appearance: none;
    border-radius: 20px;
    padding:5px;
    padding-left: 0.5rem;
    padding-right: 1rem;
}

input[type="search"]{
    border-radius: 20px;
    padding:5px;
    padding-left: 0.75rem;
    border: 2px solid lightgray;
}

input[type="text"]::placeholder {
    color: #aaa;
    font-style: italic;
}

.logout {
    background-color: red;
}

.logout:hover {
    background-color: darkred;
}

.add-new-task {
    background-color: #4caf50;
}

.add-new-task:hover {
    background-color: #367b39;
}

.error-message {
    font-weight: 800;
    color: red;
    display: inline;
}