{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="{% static 'styles/Login/styles.css' %}">
    <style>
    </style>
</head>
<body>

        <div class="login-container">
            <h2>Login</h2>
            <form hx-post="{% url 'Login:htmxLogin' %}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}" hx-target="this" hx-swap="afterend" onsubmit="return false;" hx-trigger="click from:.login-button">
                {% csrf_token %}

                {% for field in form %}
                    <div class="form-group">
                        <label for='{{ field.name }}'>{{ field.label }}: </label>
                        {{ field }}

                        {% if field.errors %}
                            {{ field.errors }}
                        {% else %}
                            <p class="help_text">{{ field.help_text }} </p>
                        
                        {% endif %}
                        
                    </div>
                {% endfor %}
                <button class="login-button">Login</button>
            </form>
            <div class="form-footer">
                <p>Don't have an account? <a href="{% url 'Register:index' %}">Sign up</a></p>
                <p>Are a Admin? <a href="{% url 'admin:login' %}">Sign In as Admin</a></p>
            </div>
        </div>

</body>
<script src="{% static 'js/pages/main.js' %}"></script>
<script src="{% static 'js/libs/htmx.js' %}"></script>
<script src="{% static 'js/libs/swal.js' %}"></script>

{% include "HTMX/swal.html" %}

</html>
