{% load template %}
{% load static %}


{% if not locked %}

        <div hx-get="{% url 'View:edit_image' id=id idx=idx %}" hx-vals='{"column":"{{column}}"}' hx-swap="outerHTML" hx-target="closest div" hx-trigger="click from:find #edit">
        
            <button id="edit" class="edit"><img src="{% static 'img/edit.svg' %}" class="edit"></button>

        </div>

        {% if error %}
            <script>alert("{{error}}");</script>
        {% endif %}


{% endif %}

{% if update is True %}

    {% with image=value|img %}

        <img src="{{image.img}}" width="{{image.width}}" height="{{image.height}}" hx-swap-oob="true" id="img_{{idx}}">

    {% endwith %}
    
{% endif %}