{% load static %}
{% load template %}


{% if admin and not locked %}
    <div hx-get="{% url 'View:edit' id=id idx=idx %}" hx-vals='{"column":"{{column}}","value":"{{value}}"}' hx-swap="outerHTML" hx-trigger="click from:find #edit">
        
        {{value|str}}
        <button id="edit" class="edit"><img src="{% static 'img/edit.svg' %}" class="edit"></button>

        {% if error %}
            <script>alert("{{error}}")</script>
        {% endif %}

    </div>
{% else %}
    <div>
        {{value|str}}
    </div>
{% endif %}