SECRET_KEY=
DEBUG=
WEBSITE_HOST=

ENGINE=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
REDIS_HOST=
REDIS_PASSWORD=

MEDIA_URL=
DECRYPTION_KEY=
WRITE_REGISTRY=
READ_REGISTRY=
CREATE_REGISTRY=

AES_KEY_1=
AES_KEY_2=
CERTIFICATE_KEY=

JWT_SECRET=
JWT_ALGORITHM=
JWT_EXP_DELTA_MINUTES=
REFRESH_EXP_DELTA_MINUTES=

CERTIFICATE_EXPIRE_DAYS=
CARD_TOKEN_EXPIRE_MINUTES=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=

ACCESS_PDF=
RAZORPAY_SECRET=


