{% load static %}


{% if msg or error %}
    <ul class="messages" hx-swap-oob="true" id="messages">
        {% if msg %}
            <li class="success">{{msg}}</li>
        {% elif error %}
            <li class="error">{{error}}</li>
        {% else %}
            <li class="error"> Something went wrong! </li>
        {% endif %}
    </ul>
{% endif %}

<div hx-get="{% url 'User:passChange' %}" hx-swap="outerHTML" hx-target="this" hx-target="click from:find button" class="username">
    {{password}}
    <button class="edit"><img src="{% static 'img/edit.svg' %}" class="edit"></button>
</div>
