{% load static %}


<div class="messages" id="messages" hx-swap-oob="true">
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %} >{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>

<div hx-get="{% url 'User:passChange' %}"
     hx-swap="outerHTML"
     hx-target="this"
     hx-target="click from:find button"
     class="edit-form">

  {{password}}

  <img src="{% static 'images/edit.svg' %}" class="edit" title="Edit this field">
</div>
