{% load template %}

{% if error %}

    <ul class="messages">
        <li class="error">{{error}}</li>
    </ul>

{% else %}
    <div class="feedback">
        <h3>Assigned To:</h3>
        
        <h4 class="user">User: {% for i in manager %} {{i}} {% if not forloop.last %}, {% endif %} {% empty %} None Assigned {% endfor %} </h4>

        {% if status is None %}
            <h4 class="user">Status: <p id="unchecked">Not Checked</p></h4>
        {% elif status is True %}
            <h4 class="user">Status: <p id="verify">Verified</p></h4>
        {% else %}
            <h4 class="user">Status: <p id="reject">Rejected</p></h4>
        {% endif %}

        {% if feed %}
            <h4 class="user">Feedback: <p id='feed-text'>{{feed}}</p></h4>
        {% endif %}    

    </div>
    
    {% if issued %}
        <p><strong> Card issued on {{time_of_issue|timestamp}}. </strong></p>
    {% endif %}
    {% if locked %}
        <p><strong> Card locked on {{time_of_lock|timestamp}}. </strong></p>
    {% endif %}

{% endif %}