{% load template %}

<div class="feedback">
    
    <h2>Feedback:</h2>
    <h3>Assigned To:</h3>
    <h4 class="user">User: {% for i in manager %} {{i}} {% if not forloop.last %}, {% endif %} {% endfor %} </h4>


    <form hx-post="{% url 'View:feed' id=id idx=idx %}" hx-swap="outerHTML" hx-target=".messages" hx-trigger="click from:#feed_button" onsubmit="event.preventDefault()">
        {% csrf_token %}
        
        {% for field in form %}
            <div class="form-group">
                <label for='{{ field.name }}'>{{ field.label }}: </label>
                {{ field }}

                {% if field.errors %}
                    {{ field.errors }}

                {% else %}
                    <p class="help_text">{{ field.help_text }} </p>
                
                {% endif %}
                
            </div>
        {% endfor %}
        <button class="upload-button" id="feed_button">Mark as Done</button>
    </form>
</div>
