{% load template %}

{% if msg or error %}
    <ul class="messages" id="messages" hx-swap-oob="true">
        {% if msg %}
            <li class="success">{{msg}}</li>
        {% elif error %}
            <li class="error">{{error}}</li>
        {% else %}
            <li class="error"> Something went wrong! </li>
        {% endif %}
    </ul>
{% endif %}

{% if not error %}
<div class="issue_card">
    {% if status %}

        {% if locked %}
            <div class="write-card"  hx-get="{% url 'View:data' id=id idx=idx %}" hx-params="none" hx-swap="innerHTML" hx-trigger="load" hx-target="this">
                <a><button class="loading-button">Loading</button></a>
            </div>
            {% else %}
            <form hx-put="{% url 'View:compress' id=id idx=idx %}" hx-swap="outerHTML" hx-target="closest .issue_card" hx-trigger="click from:find button" onsubmit="event.preventDefault()">
                {% csrf_token %}
                <button class="upload-button" id="issue_button">Issue Card</button>
            </form>
        {% endif %}
    
        
        {% if locked %}
        <form hx-delete="{% url 'View:compress' id=id idx=idx %}" hx-swap="outerHTML" hx-target="closest .issue_card" hx-trigger="click from:find button" onsubmit="event.preventDefault()">
            {% csrf_token %}
            <button type="cancel" class="upload-button" id="cancel_button">Cancel Card</button>
        </form>
        {% endif %}
        
        {% endif %}
        
        {% if issued %}
        <p><strong> Card issued on {{time_of_issue|timestamp}}. </strong></p>
        {% endif %}
        
        {% if locked %}
        <p><strong> Card locked on {{time_of_lock|timestamp}}. </strong></p>
        {% endif %}
    
</div>
{% endif %}
