{% extends 'HTML/index.html' %}
{% load template %}
{% load static %}


{% block styleSheet %}
    <link rel="stylesheet" href="{% static 'styles/Dash/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block title %} Task Dashboard {% endblock %}


{% block headerLeft %}
{% endblock %}

{% block headerCenter %}<h1>Task Dashboard</h1>{% endblock %}

{% block headerOption %}

    <a class="next-button" href="{% url 'Task:subCreate' id=id %}">Add New Semester</a>
    <a class="next-button" href="{% url 'Table:index' id=id %}">View Complete Data</a>
    <a class="next-button" href="{% url 'Dash:index' %}">Back To DashBoard</a>

{% endblock %}

{% block mainContent %}
<ul class="messages" id="messages">
    {% if messages %}
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %} >{{ message }}</li>
        {% endfor %}
    {% endif %}
</ul>

    <div class="tab">
        <h2>Tasks List</h2>

        <div class="sub-tab">

            <form hx-get="{% url 'Task:htmxIndex' id=id %}" hx-target="next .task-list" hx-swap="innerHTML" hx-trigger="input from:find input, load" onsubmit="event.preventDefault()">
                <div class="search-bar">
                    <i class="fa fa-search"></i>
                    <input type="text" placeholder="Search for Semester" name="semester" />
                    <span></span>
                </div>
            </form>
            <div class="task-list">
                <div class="loading">
                    <img src="{% static 'images/spinner.png' %}" alt="Loading Data">
                    <h2>Loading...</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="tab" hx-get="{% url 'Task:htmxAssignForm' id=id %}" hx-trigger="load" hx-target="this" hx-swap="innerHTML"></div>
    <div class="tab" hx-get="{% url 'Task:htmxGroupBy' id=id %}" hx-trigger="load" hx-target="this" hx-swap="innerHTML"></div>
{% endblock %}

{% block script %}
<script>

    function getTaskHeight(){
        const tabs = document.querySelectorAll(".task-info");

        for(let tab of tabs){
            let height = 0;
            for(let child of tab.childNodes){
                if(child.offsetHeight){
                    height = Math.max(height, child.offsetHeight + 10);
                }
            }
            tab.style.setProperty('--tab-height', height + 'px');
        }
    }

    window.onresize = getTaskHeight;


</script>
{% endblock %}