{% extends 'HTML/index.html' %}
{% load template %}
{% load static %}

{% block styleSheet %}
    <link rel="stylesheet" href="{% static 'styles/Task/styles.css' %}">
{% endblock %}

{% block title %} Semester Create Form {% endblock %}
            
{% block customStyle %}
  <style>
    header{
      background-color: {{request.session.mainColor}};
        color: {{request.session.secColor}};
      }

      body{
        color: {{request.session.mainColor}};
      }

      header .user-log, header .add-task{
        color: {{request.session.mainColor}};
      }

  </style>
{% endblock %}

{% block headerOption %}
  <a class="next-button" href="{% url 'Task:index' id=id %}">Back To Task View</a>
{% endblock %}

{% block headerCenter %}<h1>Semester Creation</h1>{% endblock %}

{% block mainContent %}

<ul class="messages"></ul>

    <div class="upload-container">
        <h2>Create a Semester Sub-Task</h2>
        <form id="form" hx-encoding='multipart/form-data' hx-post="{% url 'Task:htmxSubCreate' id=id %}" hx-swap="outerHTML" hx-target=".messages" hx-trigger="click from:find button" onsubmit="event.preventDefault();">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-field">
                    <label for='{{ field.name }}'>{{ field.label }}: </label>
                    {{ field }}
                </div>
                    
            {% endfor %}
            <button class="upload-button" onclick="formCheck(event, '#form')">Create Task</button>
        </form>
    </div>
{% endblock %}

