{% extends 'HTML/index.html' %}
{% load template %}
{% load static %}

{% block styleSheet %}
    <link rel="stylesheet" href="{% static 'styles/Task/styles.css' %}">
{% endblock %}

{% block title %} Semester Edit Form {% endblock %}
            
{% block customStyle %}
  <style>
    header{
      background-color: {{request.session.mainColor}};
        color: {{request.session.secColor}};
      }

      body{
        color: {{request.session.mainColor}};
      }

      header .user-log, header .add-task{
        color: {{request.session.mainColor}};
      }

  </style>
{% endblock %}

{% block headerOption %}
 
<a class="next-button" href="{% url 'Table:semIndex' id=id idx=idx %}">Back To Semester Table View</a>
{% endblock %}

{% block headerCenter %}<h1>Semester Edit</h1>{% endblock %}

{% block mainContent %}

<ul class="messages"></ul>

    <div class="upload-container">
        <h2>Edit a Semester</h2>
        <form id="form" hx-encoding='multipart/form-data' hx-post="{% url 'Task:htmxSubEdit' id=id idx=idx %}" hx-swap="outerHTML" hx-target=".messages" hx-trigger="click from:find button" onsubmit="event.preventDefault()">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-field">
                    <label for='{{ field.name }}'>{{ field.label }}: </label>
                    {{ field }}
                </div>
                    
            {% endfor %}
            <button class="upload-button" onclick="formCheck(event, '#form')">Edit Task</button>
        </form>
        <div class="form-footer">
          Want to delete this Semester? <a href="{% url 'Task:subDelete' id=id idx=idx %}">Click here</a>
        </div>
    </div>
{% endblock %}
{% block script %}
<script>
  document.body.addEventListener('htmx:confirm', function(event) {
      event.preventDefault();

      swal({
        title: "Are you sure?",
        text: "This action cannot be undone. Are you sure you want to edit this Semester?",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      })
      .then((value) => {
        if (value === true) {
            event.detail.issueRequest();
        }
          
      });
    });
</script>

{% endblock %}
