{% extends 'HTML/index.html' %}
{% load template %}
{% load static %}

{% block styleSheet %}
    <link rel="stylesheet" href="{% static 'styles/Task/styles.css' %}">
{% endblock %}

{% block title %} Task Delete Form {% endblock %}
            
{% block customStyle %}
  <style>
    header{
      background-color: {{request.session.mainColor}};
        color: {{request.session.secColor}};
      }

      body{
        color: {{request.session.mainColor}};
      }

      header .user-log, header .add-task{
        color: {{request.session.mainColor}};
      }

  </style>
{% endblock %}

{% block headerOption %}
 
<a class="next-button" href="{% url 'Task:index' id=id %}">Back To Task Dashboard</a>
{% endblock %}

{% block headerCenter %}<h1>Task Delete</h1>{% endblock %}

{% block mainContent %}

<ul class="messages"></ul>

    <div class="upload-container">
        <h2>Delete Task</h2>
        <form id="form" hx-post="{% url 'Task:htmxDelete' id=id %}" hx-swap="outerHTML" hx-target=".messages" hx-trigger="click from:find button" onsubmit="event.preventDefault()">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-field">
                    <label for='{{ field.name }}'>{{ field.label }}: </label>
                    {{ field }}
                </div>
                    
            {% endfor %}
            <button class="upload-button" onclick="formCheck(event,'#form')">Delete Task</button>
        </form>
        <div class="form-footer">
          Edit this Task? <a href="{% url 'Task:edit' id=id %}">Edit Task</a>
        </div>
    </div>
{% endblock %}

{% block script %}
<script src="{% static 'js/libs/swal.js' %}"></script>
<script>
  document.body.addEventListener('htmx:confirm', function(event) {
      event.preventDefault();

      swal({
        title: "Are you sure?",
        text: "This action cannot be undone. Are you sure you want to delete this Task?",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      })
      .then((value) => {
        if (value === true) {
            event.detail.issueRequest();
        }
          
      });
    });
</script>

{% endblock %}
