{% load template %}

{% if error is True %}
    <script>
        {
            swal({
                text:`{{ text|escapejs }}`,
                title: `{{ title|escapejs }}`,
                icon: `{{ icon|escapejs }}`,
            });
        }

    </script>
{% endif %}
{% if locked is True %}
    <script>
        htmx.trigger("#refresh-{{rowID}}", "click")
    </script>
    
{% else %}
    <form class="edit-form" hx-post="{% url 'Table:htmxSemEditImage' id=id idx=idx rowID=rowID %}" hx-encoding='multipart/form-data' hx-swap="outerHTML" hx-vals='{"column":"{{column}}"}' hx-target="closest div.row-data" hx-trigger="click from:find button[type='submit']" onsubmit="event.preventDefault()">

        {% csrf_token %}
        <input type="file" name="file" required>
        <button type="submit" class="submit">Change</button>
        <button type="cancel" class="cancel" hx-trigger="click from:closest button" hx-get="{% url 'Table:htmxSemEditImage' id=id idx=idx rowID=rowID %}" hx-swap="outerHTML" hx-target="closest div.row-data" hx-vals='{"column":"{{column}}"}'>Discard</button>
{% endif %}


