{% load static %}
{% load template %}

{% if messages %}
    <ul class="messages" id="messages" hx-swap-oob="true">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %} >{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<div class="row-data column-{{ column }}">

    {% if locked is not True %}
        <div hx-post="{% url 'Table:htmxSemEditText' id=id idx=idx rowID=rowID %}"
             hx-vals='{"column":"{{column}}"}'
             hx-target="closest div" hx-swap="outerHTML" hx-trigger="click from:find img">

            {{ value|str }}
            <img class="edit-button" src="{% static 'images/edit.svg' %}" title="Edit This Field">

        </div>

    {% else %}
        <div>
            {{value|str}}
        </div>
    {% endif %}
</div>
