header {
    display: flex;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;
}

.header-left, .header-right {
    padding: 5px;
    flex-shrink: 1;
}

.header-center {
    flex-grow: 1;
}

