{% extends 'HTML/index.html' %}
{% load template %}
{% load static %}


{% block styleSheet %}
    <link rel="stylesheet" href="{% static 'styles/Dash/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block title %} User Task Dashboard {% endblock %}

{% block cssStyle %}
    <style>
        a {
            text-decoration: none;
        }
            


        
    </style>
{% endblock %}

{% block customStyle %}
{% endblock %}

{% block headerLeft %}
    <a class="next-button logout" href="{% url 'Logout:logout' %}" onclick="confirmPrompt()">Logout</a>
{% endblock %}

{% block headerCenter %}<h1>Task Dashboard</h1>{% endblock %}

{% block headerRight %}
    {% block manager_button%}{% endblock %}
    {% block uploader_button%}{% endblock %}
{% endblock %}

{% block mainContent %}
<div class="tab">
    <h2>Tasks List</h2>

    <div class="sub-tab">

        <form hx-get="{% url 'Dash:taskFetch' %}" hx-target="next .task-list" hx-swap="innerHTML" hx-trigger="input from:find input, load" onsubmit="event.preventDefault()">
            <div class="search-bar">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="Search for Task by Name or ID" name="value" />
                <span></span>
            </div>
        </form>
        <div class="task-list">
            <div class="loading">
                <img src="{% static 'images/spinner.png' %}" alt="Loading Data">
                <h2>Loading...</h2>
            </div>
        </div>
    </div>
</div>

    <div class="tab">
        <div class="log-view">
            <h2><span>View Logs</span></h2>
            <a href="{% url 'Logs:logs' %}" class="log-item">
                <span class="arrow">&#9654;</span>
            </a>
        </div>
    </div>

    <div class="tab">
        <div class="log-view">
            <h2><span>Account Settings</span></h2>
            <a href="{% url 'User:index' %}" class="log-item">
                <span class="arrow">&#9654;</span>
            </a>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>

    function getTaskHeight(){
        const tabs = document.querySelectorAll(".task-info");

        for(let tab of tabs){
            let height = 0;
            for(let child of tab.childNodes){
                if(child.offsetHeight){
                    height = Math.max(height, child.offsetHeight + 10);
                    console.log(child.offsetHeight, height);

                }
            }
            tab.style.setProperty('--tab-height', height + 'px');
        }
    }

    window.onresize = getTaskHeight;


</script>
{% endblock %}