{% extends 'Main/index.html' %}
{% load template %}
{% load static %}


{% block styleSheet %}
    <link rel="stylesheet" href="{% static 'styles/Upload/styles.css' %}">
{% endblock %}

{% block title %} Delete Form {% endblock %}

{% block cssStyle %}
    <style>
        .upload-container {
            background: #fff;
            padding: 20px 30px;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            width: 300px;
            margin: 50px auto;
        }

        .upload-container h2 {
            text-align: center;
            margin-bottom: 20px;
            color: #333;
        }

        .upload-button {
            width: 100%;
            padding: 10px;
            background-color: #28a745;
            color: #fff;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
        }

        .upload-button:hover {
            background-color: #218838;
        }

        #progress{
            margin-top: 10px;
            width: 100%;
            display:none;
            height: 20px;
        }
    </style>
{% endblock %}

{% block customStyle %}
    <style>
        header{
            background-color: {{request.session.mainColor}};
            color: {{request.session.secColor}};
        }

        body{
            color: {{request.session.mainColor}};
        }

        header .user-log, header .add-task{
            color: {{request.session.mainColor}};
        }
    </style>
{% endblock %}

{% block headerLeft %}
    <a class="next-button" href="{% url 'View:table' id=id %}">Back To Table View</a>
{% endblock %}

{% block headerCenter %}<h1>Delete Form</h1>{% endblock %}

{% block mainContent %}

    <div class="messages">
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %} >{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    {% if not messages %}

        <div class="upload-container">
            <h2>Delete Uploaded Excel</h2>
            <form id="form" hx-delete="{% url 'Upload:delete' id=id %}" hx-swap="innerHTML" hx-target="#message" hx-trigger="click from:find button" onsubmit="event.preventDefault()">
                {% csrf_token %}

                <button class="upload-button">Delete Record</button>

                <div class="form-footer">
                    <p>Wrong Excel Uploaded? <a href="{% url 'Upload:view_edit' id=id %}">Edit Upload</a></p>
                </div>
            </form>
        </div>

    {% endif %}

{% endblock %}

{% block script %}
    <script>
        add_csrf();
    </script>
{% endblock %}
