{% extends 'Main/index.html' %}
{% load template %}
{% load static %}


{% block styleSheet %}
    <link rel="stylesheet" href="{% static 'styles/Upload/styles.css' %}">
{% endblock %}

{% block title %} Upload Form {% endblock %}
            
{% block customStyle %}
  <style>
    header{
      background-color: {{request.session.mainColor}};
        color: {{request.session.secColor}};
      }

      body{
        color: {{request.session.mainColor}};
      }

      header .user-log, header .add-task{
        color: {{request.session.mainColor}};
      }

  </style>
{% endblock %}

{% block headerLeft %}
  <a class="next-button" href="{% url 'Dash:dash' %}">Back To Dashboard</a>
{% endblock %}

{% block headerCenter %}<h1>Upload Form</h1>{% endblock %}

{% block mainContent %}

  <div class="messages"></div>

    <div class="upload-container">
        <h2>Upload Excel</h2>
        <form id="form" hx-encoding='multipart/form-data' hx-post="{% url 'Upload:upload' %}" hx-swap="innerHTML" hx-target=".messages" hx-trigger="click from:find button" onsubmit="event.preventDefault()">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-field">
                    <label for='{{ field.name }}'>{{ field.label }}: </label>
                    {{ field }}

                </div>
                    {% if field.errors %}
                        {{ field.errors }}

                    {% endif %}
                    
            {% endfor %}
            <button class="upload-button">Upload</button>
            <progress id='progress' value='0' max='100'></progress>
        </form>


    </div>
{% endblock %}

{% block script %}
<script>

    htmx.on("#form","htmx:beforeSend", function(event){

        htmx.find('#progress').setAttribute('value', 0);
        htmx.find('#progress').setAttribute('style', "display:block;");
    });

    htmx.on('#form', 'htmx:xhr:progress', function(event) {
        htmx.find('#progress').setAttribute('value', event.detail.loaded/event.detail.total * 100)

        if(event.detail.loaded==event.detail.total){
            htmx.find('#progress').setAttribute('style', "display:none;");
        }
    });

  </script>
{% endblock %}
