<form hx-post="{% url 'View:edit_image' id=id idx=idx %}" hx-encoding='multipart/form-data' hx-swap="outerHTML" hx-vals='{"column":"{{column}}"}' hx-target="closest .img" hx-trigger="click from:find #submit" onsubmit="event.preventDefault()" id="form">
    {% csrf_token %}
    <input type="file" name="file" required="">
    <button type="submit" value="Change" id="submit">Change</button>
    <button type="cancel" value="Discard" id="cancel" hx-trigger="click from:closest #cancel" hx-get="{% url 'View:image' id=id idx=idx %}" hx-swap="outerHTML" hx-target="closest #form" hx-vals='{"column":"{{column}}"}'>Cancel</button>

</form>