{% load template %}


<div class="assign">

    <h3> Assign Task </h3>

    <h4>Uploader: {{upload}}</h4>
    <h4>Manager: {% for _,i in manage.items %} {{i}} {% if not forloop.last %}, {% endif %} {% empty %} None Assigned {% endfor %}</h4>

    <form hx-put="{% url 'View:assign' id=id %}" hx-trigger="click from:find button" hx-target="closest .assign" hx-swap="outerHTML">
        {% csrf_token %}
        Add a user

        <select name="user" required>
            <option value>--------</option>

            {% for i,j in option.items %}
                <option value="{{i}}">{{j}}</option>
            {% endfor %}

        </select>

        <button class="submit">Assign User</button>
    </form>

    <form hx-delete="{% url 'View:assign' id=id %}" id="unassign-form" hx-trigger="click from:find button" hx-target="closest .assign" hx-swap="outerHTML">
        {% csrf_token %}

        Delete a user
        <select name="user" required>
            <option value>--------</option>

            {% for i,j in manage.items %}
                <option value="{{i}}">{{j}}</option>
            {% endfor %}
        </select>

        <button type='cancel' class="cancel">Unassign User</button>
    </form>
</div>

{% if msg or error %}
    <ul class="messages" id="messages" hx-swap-oob="true">

        {% if msg %}
            <li class="success">{{msg}}</li>
        {% elif error %}
            <li class="error">{{error}}</li>
        {% endif %}
    </ul>
{% endif %}

<script>
    add_csrf();
</script>