{% load template %}
{% load static %}

<div class="container">

    <div class="searchQuery">
        <h2>Search Columns: </h2>
        <form hx-get="{% url 'View:search_row' id=id %}" hx-target="#tableBody" hx-swap="innerHTML" hx-trigger="input from:.searchSelect,input from:#search" hx-on::after-request="dontAskWhy();">
            
            <label for="column">Column: </label>
            <select name="column" id="column" class="searchSelect">
                <option value="">----------</option>
                {% for i,j in available.items %}
                    <option value="{{ i }}"> {{ j }}</option>
                {% endfor %}
            </select>

            <label for="search">Containing: </label>

            <input type="search" list="suggests" autocomplete="off" name="search" id="search" placeholder="Enter search keyword" value="{{request.GET.search}}" hx-swap="innerHTML" hx-target="#suggests" hx-get="{% url 'View:suggest' id=id %}" hx-vals="js:{column: get_select(), issue: get_select('issue'), status: get_select('status'), lock: get_select('lock')}" hx-trigger="cancel, keyup,click from:.searchSelect " hx-on::after-request="dontAskWhy();">

            <datalist id="suggests" autocomplete="false">

            </datalist>


        <h3> Additional Search: </h3>
            
            <label for="status">Status: </label>
            <select name="status" id="status" class="searchSelect">
                <option value="">----------</option>
                <option value="none">Unchecked</option>
                <option value="true">Verified</option>
                <option value="false">Rejected</option>
            </select>

            <label for="lock">Locked: </label>
            <select name="lock" id="lock" class="searchSelect">
                <option value="">----------</option>
                <option value="true">Locked</option>
                <option value="false">Not Locked</option>
            </select>

            <label for="issue">Issued: </label>
            <select name="issue" id="issue" class="searchSelect">
                <option value="">----------</option>
                <option value="true">Issued</option>
                <option value="false">Not Issued</option>
            </select>

        </form>

    </div>

    <div class="tableView" id="tableView">
        <div class="dont-ask-why-this"></div>
        <div class="table-box">
            <table id="display-table">
                <thead>
                    <tr>
                        {% for i in column %}
                            <th><p>{{i}}</p></th>
                        {% endfor %}
                        <th class="next-button"><p>View Data</p></th>
                    </tr>
                </thead>
                
                <tbody id="tableBody">
                    <tr id="loading" hx-get="{% url 'View:search_row' id=id %}" hx-vals= '{"page": "0", "column": "{{ request.GET.column }}", "issue": "{{ request.GET.issue }}", "lock": "{{ request.GET.lock }}", "search": "{{ request.GET.search }}", "status": "{{ request.GET.status }}"}' hx-trigger="load" hx-target='closest #loading' hx-swap="outerHTML">
                </tbody>
                
            </table>
        </div>
    </div>

    {% if admin is True %}
        <div class="assign" id="outerDIV" hx-get="{% url 'View:assign' id=id %}" hx-trigger="load" hx-swap="outerHTML"></div>
        <ul class="messages" id="messages"></ul>
        
    {% endif %}
</div>
