{% load template %}
{% load static %}

{% if error %}
    <div class="loading">

        <ul class="messages">
            <li class="error"><span>{{error}}</span></li>
        </ul>
    </div>
    
{% else %}

    {% for idx,i in result %} 

        <div class="rows" hx-get="{% url 'View:refresh' id=id idx=idx %}" hx-trigger="click from:find .refresh delay:1s" hx-target="closest div" hx-swap="outerHTML settle:500ms">
            {% for j,k in i.values|enum %}

                {% if column|index:j|in:image %}
                    {% with image=k|img %}
                        {% if admin is True and feed|index:idx|index_str:'locked' is not True %}
                            <div class="row-data image"><img src="{{image.img}}" width="{{image.width}}" height="{{image.height}}" id="img_{{idx}}">
                        
                                <div hx-get="{% url 'View:edit_image' id=id idx=idx %}" hx-vals='{"column":"{{j}}"}' hx-swap="outerHTML" hx-trigger="click from:find button">
                            
                                    <button id="edit" class="edit"><img src="{% static 'img/edit.svg' %}" class="edit"></button>
                                
                                    {% if error %}
                                        <ul class="messages">
                                            <li class="error">{{error}}</li>
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>

                        {% else %}

                            <div class="row-data"><img src="{{image.img}}" width="{{image.width}}" height="{{image.height}}"></div>

                        {% endif %}

                    {% endwith %}

                {% else %}
                    <div class="row-data">

                    {% if admin is True and feed|index:idx|index_str:'status' is not True %}
                        <div hx-get="{% url 'View:edit' id=id idx=idx %}" 
                            hx-vals='{"column":"{{j}}","value":"{{k}}"}' 
                            hx-target="closest div" hx-swap="outerHTML" hx-trigger="click from:find button">

                            {{k|str}}
                            <button id="edit" class="edit"><img src="{% static 'img/edit.svg' %}" class="edit"></button>

                        </div>

                    {% else %}
                        <div>
                            {{k|str}}
                        </div>
                    {% endif %}
                </div>

            {% endif %}

        {% endfor %}

        <div class="row-data view-area">
            <div class="grid-layout">
                <div class="data-loading">
                    <button class="view-icon" onclick="window.location.replace(`{% url 'View:index' id=id idx=idx %}`);">
                        <img src="{% static 'img/view.png' %}" alt="Refresh Page">
                        <p class="view-text">View</p>
                    </button>

                    <div class="refresh-button">
                        <div >
                            <button class="refresh"><img src="{% static 'img/refresh.png' %}" alt="Refresh Page"><p class="refresh-text">Refresh</p></button>
                        </div>
                    </div>

                </div>

                <div class="status-report">
                    <div class="report-status">
                        <p>Verify Status: </p>
                            {% if feed|index:idx|index_str:'status' is True %}
                                <p id="correct">Verified</p>
                            {% elif feed|index:idx|index_str:'status' is False %}
                                <p id="wrong">Rejected</p>
                            {% else %}
                                <p id="none">Unchecked</p>
                            {% endif %}
                    </div>

                    <div class="report-status">                        
                        <p>Lock Status: </p>
                        {% if feed|index:idx|index_str:'locked' is True %}<p id="correct">Locked</p>{% else %}<p id="wrong">Unlocked</p>{% endif %}
                    </div>

                    <div class="report-status">                        
                        <p>Issue Status: </p> {% if feed|index:idx|index_str:'issued' is True %}<p id="correct">Issued</p>{% else %}<p id="wrong">Not Issued</p>{% endif %}</div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}