{% load template %}
{% load static %}

{% if error %}
    <div class="loading">

        <ul class="messages">
            <li class="error"><span>{{error}}</span></li>
        </ul>
    </div>
    
{% else %}
    {% for idx,i in result %}
        <tr>

            {% for j,k in i.values|enum %}

                {% if column|index:j|in:image %}

                    {% with image=k|img %}

                        {% if admin is True and feed|index:idx|index_str:'locked' is not True %}
                            <td class="img"><img src="{{image.img}}" width="{{image.width}}" height="{{image.height}}" id="img_{{idx}}">
                        
                                <div hx-get="{% url 'View:edit_image' id=id idx=idx %}" hx-vals='{"column":"{{j}}"}' hx-swap="outerHTML" hx-trigger="click from:find button">                            
                                    <button id="edit" class="edit"><img src="{% static 'img/edit.svg' %}" class="edit"></button>
                                
                                    {% if error %}
                                        <ul class="messages">
                                            <li class="error">{{error}}</li>
                                        </ul>
                                    {% endif %}
                                </div>
                            </td>

                        {% else %}
                            <td><img src="{{image.img}}" width="{{image.width}}" height="{{image.height}}"></td>
                        {% endif %}

                    {% endwith %}

                {% else %}
                    <td>
                        {% if admin is True and feed|index:idx|index_str:'status' is not True %}
                            <div hx-get="{% url 'View:edit' id=id idx=idx %}" hx-vals='{"column":"{{j}}","value":"{{k}}"}' hx-swap="outerHTML" hx-trigger="click from:find button">
                                {{k|str}}
                                <button id="edit" class="edit"><img src="{% static 'img/edit.svg' %}" class="edit"></button>
                
                                {% if error %}
                                    <ul class="messages">
                                        <li class="error">{{error}}</li>
                                    </ul>
                                {% endif %}
                            </div>

                        {% else %}
                            <div>
                                {{k|str}}
                            </div>
                        {% endif %}
                    </td>

                {% endif %}

            {% endfor %}


            <td class="next-button">
                <a href="{% url 'View:index' id=id idx=idx %}">
                    <button>View</button>
                </a>

                <div 
                    hx-get="{% url 'View:refresh' id=id idx=idx %}" 
                    hx-trigger="click from:find button" 
                    hx-target="closest tr" 
                    hx-swap="outerHTML">
                    <button class="refresh"><img src="{% static 'img/refresh.png' %}" alt="Refresh Page" id="refresh_{{idx}}">Refresh</button>
                </div>

                {% if feed|index:idx|index_str:'status' is True %}
                    <p id="correct">Verified</p>{% if feed|index:idx|index_str:'locked' is True %}<p id="correct">Locked</p>{% endif %}{% if issued|index:idx is True %}<p id="correct">Issued</p>{% endif %}

                {% elif feed|index:idx|index_str:'status' is False %}
                    <p id="wrong">Rejected</p>{% if feed|index:idx|index_str:'locked' is True %}<p id="correct">Locked</p>{% endif %}{% if issued|index:idx is True %}<p id="correct">Issued</p>{% endif %}

                {% else %}
                    <p id="none">Unchecked</p>{% if feed|index:idx|index_str:'locked' is True %}<p id="correct">Locked</p>{% endif %}{% if issued|index:idx is True %}<p id="correct">Issued</p>{% endif %}
                {% endif %}
            </td>
        </tr>

    {% endfor %}
{% endif %}