{% load template %}
{% load static %}

{% if error %}
            
        <ul class="messages">
            <li class="error">{{error}}</li>
        </ul>
        
{% else %}

    <div class="dont-ask-why-this"></div>
    <div class="table-box">
        <table id="display-table">
            <thead>
                <tr>
                    {% for i in column %}
                        <th><p>{{i}}</p></th>
                    {% endfor %}
                    <th class="verify-sing"><p>Status</p></th>
                    <th class="next-button"><p>View Data</p></th>
                </tr>
            </thead>
            
            <tbody>
                <tr id="loading" hx-get="{% url 'View:search_row' id=id %}" hx-vals= '{"page": "0", "column": "{{ request.GET.column }}", "issue": "{{ request.GET.issue }}", "lock": "{{ request.GET.lock }}", "search": "{{ request.GET.search }}", "status": "{{ request.GET.status }}"}' hx-trigger="load" hx-target='closest #loading' hx-swap="outerHTML">
            </tbody>
            
        </table>
    </div>

{% endif %}