{% load template %}
{% load static %}

{% if search %}
            
        <ul class="messages">
            <li class="error">{{search}}</li>
        </ul>
        
{% else %}

    <div class="dont-ask-why-this"></div>
    <div class="table-box">
        <table id="display-table">
            <thead>
                <tr>
                    {% for i in column %}
                    <th><p>{{i}}</p></th>
                    {% endfor %}
                    <th class="verify-sing"><p>Verify</p></th>
                    <th class="next-button"><p>View Data</p></th>
                </tr>
            </thead>
            
            <tbody >
                <tr hx-get="{% url 'View:search_row' id=id %}" hx-vals= '{"page": "0", "column": "{{ request.GET.column }}", "search": "{{ request.GET.search }}"}'  hx-trigger="load" hx-swap="outerHTML">
                    
            </tbody>
            
        </table>

        <div class="vert"></div>
    
    </div>

{% endif %}