{% load template %}

<div class="retry-read" id="change-me" hx-swap-oob="true">
    {% if messages %}

        <ul class="messages" id="messages">
            {% for message in messages %}
                <li class="error">{{ message }}</li>
            {% endfor %}
        </ul>

    {% else %}

        <div class="table-view-again">
            <div class="report-header">
                <img src="{{university_icon}}" class="university">
                <div class="university-heading">
                    <h2>{{university_heading}}</h2>
                    <h3>{{institute_heading}}</h3>
                    <h4>{{branch_heading}}</h4>
                </div>
                <img src="{{institute_icon}}" class="institute">
            </div>
            <div class="personal-header">

                <div class="text">
                    {% for column, value in personal.items %}
                        <div class="big-text">
                            <h3>{{column}}</h3><h3>:</h3><p class="report-text">{{value}}</p>
                        </div>
                    {% endfor %}

                </div>
                <div class="image">
                    {% for column, image in images.items %}
                        <div class="big-image">
                            {% with IMAGE=image|img %}
                                <img src="{{IMAGE.img}}">
                            {% endwith %}
                        </div>
                    {% endfor %}

                </div>
            </div>

            <div class="semester-heading">

                {% for sem, subs in sem_data.items %}
                    <div class="semester-cell">

                        <table class="semester-data">
                            <tr>
                                <th colspan="{{ columns|get:sem|len|add:3 }}" class='semester-title'>Semester {{sem}}</th>
                            </tr>
                            <tr>

                                <th class="column">Subject Code</th>
                                <th class="column">Subject Name</th>

                                {% for col in columns|get:sem %}
                                    <th class="column">{{col|capitalize}}</th>
                                {% endfor %}

                                <th class="column">Total Marks</th>
                            </tr>

                            {% for sub, meta in subs.items %}
                                <tr>
                                    <td>{{meta.id}}</td>
                                    <td>{{sub}}</td>

                                    {% for col in columns|get:sem %}
                                        <td>{{meta.other|get:col}}</td>
                                    {% endfor %}

                                    <td>{{meta.total}}</td>
                                </tr>
                            {% endfor %}

                        </table>
                    </div>

                {% endfor %}

            </div>
        </div>

        <button hx-delete="{% url 'Dash:card_read' %}" hx-trigger="click from:closest button" hx-target="closest div.retry-read" hx-swap="outerHTML" style="margin: 0 30%;">Read Another Card</button>
    {% endif %}
</div>
