{% extends 'HTML/index.html' %}
{% load template %}
{% load static %}

{% block styleSheet %}
    <link rel="stylesheet" href="{% static 'styles/Table/styles.css' %}">
{% endblock %}

{% block title %} Table View {% endblock %}

{% block cssStyle %}
    <style>

        #verify{
            color:#4CAF50;
            display:inline;
        }

        #unchecked{
            color:#555;
            display:inline;
        }

        #reject{
            color: red;
            display:inline;
        }

        #feed-text{
            font-style: italic;
            display:inline;
        }

        #correct{
            display: inline-block;
            padding: 10px;
            color: white;
            background-color: green;
        }

        #wrong{
            display: inline-block;
            padding: 10px;
            color: white;
            background-color: red;
        }

        #none{
            display: inline-block;

            padding: 10px;
            color: white;
            background-color: grey;
        }

        th.next-button, td.next-button{
            position: sticky;
            right: 0px;
            z-index: 10;
            overflow-x:auto;
            padding: 0;
        }

        th.next-button{
            z-index: 20;
        }

        .view-icon button, a{
            background-color: #4CAF50;
            border-radius: 50px;
        }

        td.next-button button{
            width: 100px;
            height: 50px;
        }

    </style>
{% endblock %}

{% block customStyle %}
{% endblock %}

{% block headerOption %}
    <a class="next-button back-dash" href="{% url 'Task:index' id=id %}">Back To Semester Board</a>
{% endblock %}

{% block headerCenter %}
    <h1>Complete View</h1>
{% endblock %}

{% block mainContent %}
    <ul class="messages" id="messages">
        {% if messages %}
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %} >{{ message }}</li>
            {% endfor %}
        {% endif %}
    </ul>

    <div class="tab" >

        <div class="searchQuery">
            <h2>Search Columns: </h2>
            <form hx-get="{% url 'Table:htmxRows' id=id %}" hx-target=".change-me" hx-swap="innerHTML" hx-trigger="input from:.searchSelect,input from:#search" onsubmit="event.preventDefault();">
                {% csrf_token %}
                <div class="form-field">
                    <label for="search">Search For: </label>
                    <input type="search" list="suggests" autocomplete="off" name="search" id="search" placeholder="Enter search keyword" value="{{request.GET.search}}" hx-swap="innerHTML" hx-target="#suggests" hx-get="{% url 'Table:htmxSuggest' id=id %}" hx-trigger="click" title="Enter a word to search">
                    <datalist id="suggests" autocomplete="false">
                    </datalist>
                </div>

                <div class="form-field">
                    <label for="column">in Column: </label>
                    <select name="column" id="column" class="searchSelect" hx-get="{% url 'Table:htmxColumns' id=id %}" hx-swap="innerHTML" hx-target="this" hx-trigger="load">
                        <option value="">----------</option>
                    </select>
                </div>

                <h3> Additional Search: </h3>

                <div class="form-field">

                    <label for="status">Status: </label>
                    <select name="status" id="status" class="searchSelect">
                        <option value="">----------</option>
                        <option value="none">Unchecked</option>
                        <option value="true">Verified</option>
                        <option value="false">Rejected</option>
                    </select>
                </div>

                <div class="form-field">

                    <label for="lock">Locked: </label>
                    <select name="lock" id="lock" class="searchSelect">
                        <option value="">----------</option>
                        <option value="true">Locked</option>
                        <option value="false">Not Locked</option>
                    </select>
                </div>

                <div class="form-field">

                    <label for="issue">Issued: </label>
                    <select name="issue" id="issue" class="searchSelect">
                        <option value="">----------</option>
                        <option value="true">Issued</option>
                        <option value="false">Not Issued</option>
                    </select>

                </div>
            </form>
        </div>


        <div class="table-view">
            <div class="rows first" id="row-first">
            </div>
            <div class="change-me">
                <div class="full-flex-row"
                     hx-get="{% url 'Table:htmxRows' id=id %}"
                     hx-vals= '{"page": "0", "column": "{{ request.GET.column }}",
                               "issue": "{{ request.GET.issue }}", "lock": "{{ request.GET.lock }}",
                               "search": "{{ request.GET.search }}", "status": "{{ request.GET.status }}"}'
                     hx-trigger="load" hx-target='this' hx-swap="outerHTML settle:500ms">
                    <div class="loading">
                        <img src="{% static 'images/spinner.png' %}" alt="Loading">
                        <h2>Fetching data...</h2>
                    </div>
                </div>
            </div>
        </div>

        {% block assignForm %}{% endblock %}
    </div>
{% endblock %}
{% block script %}
    <script>
        add_csrf();
        const a = document.querySelector(".table-view");

        function centerDiv(){
            const b = document.querySelector(".loading");
            let left = a.scrollLeft + ((a.offsetWidth - b.offsetWidth) / 2);
            b.style.left = left + 'px';
        }

        document.addEventListener("DOMContentLoaded", centerDiv);

        a.addEventListener("scroll", centerDiv);
        window.onresize = centerDiv;

    </script>
{% endblock %}
