{% extends 'Dash/dash.html' %}

{% load template %}

{% block uploader %}
    <div class="container">
        <h2>To Assign Tasks</h2>
        <div class="task-list" id="up" hx-get="{% url 'Dash:admin_upload' %}" hx-target="this" hx-swap="innerHTML" hx-trigger="load">

        </div>
    </div>
{% endblock %}

{% block manager %}
    <div class="container">
        <h2>Assigned Tasks</h2>
        <div class="task-list" id="down" hx-get="{% url 'Dash:admin_manage' %}" hx-target="this" hx-swap="innerHTML" hx-trigger="load">

        </div>
    </div>
{% endblock %}
