{% extends 'Dash/dash.html' %}

{% load template %}
{% load static %}

{% block manager_button %}
    <a href="{% url 'Dash:read' %}"><button class="add-task">Read Card</button></a>
{% endblock %}

{% block manager %}
    <div class="tab">
        <h2>Unassigned Tasks</h2>

        <div class="sub-tab">
            <h3>Search Records: </h3>
            <form hx-get="{% url 'Dash:manage' %}" hx-target="next .task-list" hx-swap="innerHTML" hx-trigger="input from:find input[type='search'], input from:find select" hx-vals="js:{query: get_select('#assign_column')}" onsubmit="event.preventDefault()">
                
                <div class="form-field">
                    <label for="search">Search Keyword: </label>
                    <input type="search" placeholder="Search Here" name="value" id="search">    
                </div>

                <div class="form-field">
                    <label for="query">in Field: </label>
                    <select name="query" id="assign_column">
                        <option value="" disabled selected>Choose a Field here</option>
                        <option value="uploader">Uploader</option>
                        <option value="file_name">File Name</option>
                        <option value="mongo_id">Mongo ID</option>
                    </select>
                </div>

            </form>
            <div class="task-list" hx-get="{% url 'Dash:manage' %}" hx-target="closest div" hx-swap="innerHTML" hx-trigger="load" hx-vals="js:{query: get_select('#assign_column'), start: '0', value: '{{request.GET.value}}'}">
                <div class="loading">
                    <img src="{% static 'images/spinner.png' %}" alt="Loading Data">
                    <h2>Loading...</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


