{% extends 'HTML/index.html' %}
{% load template %}
{% load static %}

{% block styleSheet %}
    <link rel="stylesheet" href="{% static 'styles/User/styles.css' %}">
{% endblock %}

{% block title %} User Account Settings {% endblock %}

{% block customStyle %}
    <style>
        header{
            background-color: {{request.session.mainColor}};
            color: {{request.session.secColor}};
        }

        body{
            color: {{request.session.mainColor}};
        }

        header .user-log, header .add-task{
            color: {{request.session.mainColor}};
        }

        .task-item h3{
            color: {{request.session.mainColor}};
        }

        .container{
            background-color: {{request.session.secColor}};
        }


    </style>
{% endblock %}
{% block headerOption %}
    <a class="next-button" href="{% url 'Dash:index' %}">Back To Dashboard</a>
{% endblock %}

{% block headerCenter %}<h1>User Account</h1>{% endblock %}

{% block mainContent %}

    <div class="messages" id="messages">
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %} >{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="tab">
        <div class="profile-image-tab">
            <div class="profile-image">
                <img src="{{profile}}" height="50px" id="profile-image">
                <div class="profile-image-edit"><img src="{% static 'images/edit.svg' %}" ></div>
                <form class="image-change"
                      hx-encoding='multipart/form-data'
                      hx-post="{% url 'User:imageChange' %}"
                      hx-swap="outerHTML" hx-target=".messages"
                      hx-trigger="click from:find button"
                      onsubmit="event.preventDefault()">
                    {% csrf_token %}
                    <input type="file" name="image" />
                    <button class="submit">Click Me</button>
                </form>
            </div>
        </div>

        <div class="personal-details">
            <div class="heading"> Personal Details </div>

            <div class="info">
                Username:
                <div hx-get="{% url 'User:userChange' %}"
                     hx-swap="outerHTML"
                     hx-target="this"
                     hx-target="click from:find button"
                     class="edit-form">

                    {{username}}

                    <img src="{% static 'images/edit.svg' %}" class="edit" data-title="Edit this field">
                </div>

            </div>
            <div class="info">
                Email:
                <div hx-get="{% url 'User:mailChange' %}"
                     hx-swap="outerHTML"
                     hx-target="this"
                     hx-target="click from:find button"
                     class="edit-form">

                    {{email}}

                    <img src="{% static 'images/edit.svg' %}" class="edit" data-title="Edit this field">
                </div>

            </div>
            <div class="info">
                Password:
                <div hx-get="{% url 'User:passChange' %}"
                     hx-swap="outerHTML"
                     hx-target="this"
                     hx-target="click from:find button"
                     class="edit-form">

                    {{password}}

                    <img src="{% static 'images/edit.svg' %}" class="edit" data-title="Edit this field">
                </div>

            </div>
            <div class="info">
                Role: {{role}}

            </div>
        </div>
        <div class="institute-details">
            <div class="heading"> Institute Details </div>

            <div class="info">
                University: {{university}}
            </div>

            <div class="info">
                Institute: {{institute}}
            </div>
            <div class="info">
                Branch: {{branch}}

            </div>

        </div>
    </div>


{% endblock %}

{% block script %}
    <script>
        const edit_image = document.querySelector(".profile-image-edit");
        const file_input = document.querySelector(".image-change input[type='file']");
        const edit_form = document.querySelector(".image-change button");

        edit_image.addEventListener("click", async function(event){
            event.stopPropagation();
            let a = await swal({
                title:"Are you sure?",
                text: "Are you sure you want to change your profile image?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
                closeModal: false
              })
            
            if (a) {
                file_input.click();
            }}
                );

        file_input.addEventListener("change", function(event){
            if(this.files.length==1){
                edit_form.click();
            }
        })
    </script>

{% endblock %}
