{% extends 'HTML/index.html' %}
{% load template %}
{% load static %}

{% block styleSheet %}
    <link rel="stylesheet" href="{% static 'styles/User/styles.css' %}">
{% endblock %}

{% block title %} User Account Settings {% endblock %}

{% block customStyle %}
    <style>
        .heading {
            background-color: {{request.session.mainColor}};
            color: {{request.session.secColor}};
        }
        
    </style>
{% endblock %}
{% block headerOption %}
    <a class="next-button" href="{% url 'Dash:index' %}">Back To Dashboard</a>
{% endblock %}

{% block headerCenter %}<h1>User Account</h1>{% endblock %}

{% block mainContent %}

    <div class="tab">
        <div class="personal-details">
            <div class="heading"> Personal Details </div>

            <div class="info">
                Username: {{username}}

                <a href="{% url 'Change:userChange' %}">
                    <img src="{% static 'images/edit.svg' %}" class="edit" data-title="Edit this field" onclick="holdIt(event)">
                </a>

            </div>
            <div class="info">
                Email: {{email}}

                <a href="{% url 'Change:mailChange' %}">
                    <img src="{% static 'images/edit.svg' %}" class="edit" data-title="Edit this field" onclick="holdIt(event)">
                </a>

            </div>
            <div class="info">
                Password: {{password}}

                <a href="{% url 'Change:passChange' %}">
                    <img src="{% static 'images/edit.svg' %}" class="edit" data-title="Edit this field" onclick="holdIt(event)">
                </a>

            </div>
            <div class="info">
                Role: {{role}}

            </div>
        </div>
        <div class="institute-details">
            <div class="heading"> Institute Details </div>

            <div class="info">
                University: {{university}}
            </div>

            <div class="info">
                Institute: {{institute}}
            </div>
            <div class="info">
                Branch: {{branch}}

            </div>

        </div>
    </div>


{% endblock %}

{% block script %}
{% include "HTMX/swal.html" %}

    <script>
        add_csrf();

        function holdIt(event){
            event.stopImmediatePropagation();
            event.preventDefault();

            swal({
                title:"Are you sure?",
                text: "Are you sure you want to change your credentials?",
                icon: "warning",
                dangerMode: true,
                buttons: true,
                closeModal: false
            }).then((ok) => {
                if(ok === true){

                    try{
                        window.location.href = event.target.parentNode.href

                    } catch(err) {
                        swal({
                            title: "Redirect Failed",
                            text: "Failed to redirect to the page",
                            icon: "error"
                        })
                    }
                }

            });

        
        }

    </script>

{% endblock %}
