{% extends 'Main/index.html' %}
{% load template %}
{% load static %}


{% block styleSheet %}
    <link rel="stylesheet" href="{% static 'styles/Upload/styles.css' %}">
{% endblock %}

{% block title %} User Account Settings {% endblock %}

 {% block cssStyle %}
    <style>
        a{
            text-decoration: none;
        }

        
        .arrow {
            margin-left: auto;
            font-size: 18px;
            color: #6c757d;
            display: inline;
        }
        
        .log-view{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .edit{
            width: 20px;
            height: 20px;
            background-color: white;
            display: inline-flex;
            padding: 0px;
            margin: auto;
        }

        img.edit:hover{
            border-bottom: 3px grey solid;
        }

        .username{
            display: inline;
        }
            {% endblock %}
 {% block customStyle %}
           header{
                background-color: {{request.session.mainColor}};
                color: {{request.session.secColor}};
            }

            body{
                color: {{request.session.mainColor}};
            }

            header .user-log, header .add-task{
                color: {{request.session.mainColor}};
            }

            .task-item h3{
                color: {{request.session.mainColor}};
            }

            .container{
                background-color: {{request.session.secColor}};
            }

            {% endblock %}
{% block headerLeft %}
  <a class="next-button" href="{% url 'Dash:dash' %}">Back To Dashboard</a>
{% endblock %}

{% block headerCenter %}<h1>User Account</h1>{% endblock %}

{% block mainContent %}

    <div class="messages" id="messages">
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %} >{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    
    <div class="container">
        <h2>User Details</h2>
        <div class="user-tab">
            Username: 
            <div hx-get="{% url 'User:userChange' %}" hx-swap="outerHTML" hx-target="this" hx-target="click from:find button" class="username">
                {% if request.user.username %}
                    {{request.user.username}} 
                {% else %}
                    No Username 
                {% endif %}
                
                <button id="edit" class="edit"><img src="{% static 'img/edit.svg' %}" class="edit"></button>
            </div>
        </div>

        <div class="user-tab">
            Email: 
            <div hx-get="{% url 'User:mailChange' %}" hx-swap="outerHTML" hx-target="this" hx-target="click from:find button" class="username">
                {% if request.user.email %}
                    {{request.user.email}} 
                {% else %}
                    No Email
                {% endif %}
                <button id="edit" class="edit"><img src="{% static 'img/edit.svg' %}" class="edit"></button>
            </div>
        </div>

        <div class="user-tab">
            Password: 
            <div hx-get="{% url 'User:passChange' %}" hx-swap="outerHTML" hx-target="this" hx-target="click from:find button" class="username">
                ********************************
                <button id="edit" class="edit"><img src="{% static 'img/edit.svg' %}" class="edit"></button>
            </div>
        </div>

    </div>
    {% endblock %}

