{% extends 'Excel/single.html' %}

{% block uploader %}

    <div class="feedback">
        <h3>Feedback By:</h3>
        <ul>
        {% for i in manager %}
            <li>
                <h4 class="user">Username: {{i.user}}</h4>

                {% if i.status is None %}
                    <h4 class="user">Status: <p id="unchecked">Not Checked</p></h4>
                {% elif i.status is True %}
                    <h4 class="user">Status: <p id="verify">Verified</p></h4>
                {% else %}
                    <h4 class="user">Status: <p id="reject">Rejected</p></h4>
                {% endif %}

                {% if i.feedback %}
                    <h4 class="user">Feedback: <p id='feed-text'>{{i.feedback}}</p></h4>
                {% endif %}    
            </li>
        {% empty %}
            <h3 class="user">No user assigned</h3>
        {% endfor %}
        </ul>
    </div>
{% endblock %}