{% extends 'Excel/single.html' %}
{% load template %}
{% block manager %}
    <div class="feedback">
        <h2>Feedback:</h2>
        <form action="{{request.PATH}}" method="POST">
            {% csrf_token %}
            
            {% for field in form %}
                <div class="form-group">
                    <label for='{{ field.name }}'>{{ field.label }}: </label>
                    {{ field }}

                    {% if field.errors %}
                        {{ field.errors }}

                    {% else %}
                        <p class="help_text">{{ field.help_text }} </p>
                    
                    {% endif %}
                    
                </div>
            {% endfor %}
            <button type="submit" class="upload-button">Mark as Done</button>
        </form>
    </div>

    {% if status %}
        <div class="feedback">
            <h2>Feedback:</h2>
            <form action="{{request.PATH}}compress/" method="POST">
                {% csrf_token %}
                <button type="submit" class="upload-button">Issue Card</button>
            </form>
        </div>
    {% elif lock|index_str:'status' %}
        <p><strong> Card Issued on {{lock|index_str:'time'|timestamp}}. </strong></p>
    {% endif %}
{% endblock %}