{% load template %}

<html>
<head>
    <style>

    </style>
</head>
<body>
    <div class="header-box">
        {{university}} - {{institute}} - {{branch}}
    </div>
    <div class="container-box">
        <div class="image-box">
            {% with image=data|index:pic|img %}
                <img src="{{image.img}}" width="{{image.width}}" height="{{image.height}}">
            {% endwith %}
        </div>
    </div>
    <div class="personal-info">

        {% for i in personal %}
            <p><strong>{{i}}: </strong>{{data|index:i}}</p>
        {% endfor %}

    </div>
    <div class="semester-info">
        <div class="semester-row">

            {% for sem,subs in sem_dict.items %}
                <div class="semester">
                    <h3>Semester {{sem}}</h3>

                    {% for sub in subs %}
                        <p><strong>{{sub|clean}}:</strong>{{data|index:sub}}</p>
                    {% endfor %}

                </div>
            {% endfor %}

        </div>
    </div>
</body>
</html>
