{% load template %}

<table id="display-table">
    <thead>
        <tr>
            <th>Column</th>
            <th>Value</th>
        </tr>
    </thead>

    <tbody >
        {% for i,j in data.items %}
            <tr>
                <td>{{i}}</td>
                {% if i|in:image %}
                    {% with image=j|full_img %}
                        <td><img src="{{image.img}}" height="{{image.height}}"></td>
                    {% endwith %}

                {% else %}
                    <td><p>{{j|str}}</p></td>
                {% endif %}
            </tr>
        {% endfor %}
    </tr>
</tbody>

</table>