{% load template %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'styles/read.css' %}">
    <title>User Task Dashboard</title>

    <style>
        img{
            width: 200px;
            display: block;
            margin: 10px auto;
        }

        h2{
            width: max-content;
            margin: 10px auto;
        }
    </style>

</head>

<body>
    <header>
        <a href="{% url 'Dash:dash' %}"><button class="user-log">Back To DashBoard</button></a>
        <h1>Card View</h1>
    </header>

    <div class="container">
        <div class="tableView" hx-get="{% url 'Dash:ping_read' %}" hx-trigger="every 2s" hx-target="this" hx-swap="outerHTML">
            <img src="{% static 'img/spinner.gif' %}" alt="Loading">
            <h2> Attempting to Read....</h2>
        </div>

    </div>

</body>
<script src="{% static 'js/htmx.js' %}"></script>
<script>

    document.addEventListener("DOMContentLoaded", function(event) {
        console.log("Firing exe"); window.location.href="{{path}}{{url}}";
    });
</script>

</html>
