{% load template %}


<div class="assign">

    <h2> Assign Task </h2>

    <div class="assign-form">
        <h3>Uploader: {{upload}}</h3>
        <h3>Manager: {% for _,i in manage.items %} {{i}} {% if not forloop.last %}, {% endif %} {% empty %} None Assigned {% endfor %}</h3>

        <form style="margin-left:0px;" hx-put="{% url 'View:assign' id=id %}" hx-trigger="click from:find button" hx-target="closest .assign" hx-swap="outerHTML" onsubmit="event.preventDefault()">
            {% csrf_token %}
            <div class="form-field">
                <label for="assign-user">Add a user: </label>
                <select name="user" id="assign-user" required>
                    <option value>--------</option>

                    {% for i,j in option.items %}
                        <option value="{{i}}">{{j}}</option>
                    {% endfor %}

                </select>
            </div>


            <button class="submit">Assign User</button>
        </form>

        <form style="margin-left:0px;" hx-delete="{% url 'View:assign' id=id %}" hx-trigger="click from:find button" hx-target="closest .assign" hx-swap="outerHTML" onsubmit="event.preventDefault()">
            {% csrf_token %}

            <div class="form-field">

                <label for="unassign-user">Delete a user: </label>
                
                <select name="user" id="unassign-user" required>
                    <option value>--------</option>

                    {% for i,j in manage.items %}
                        <option value="{{i}}">{{j}}</option>
                    {% endfor %}
                </select>
            </div>


            <button type='cancel' class="cancel">Unassign User</button>
        </form>
    </div>
</div>

{% if msg or error %}
    <ul class="messages" id="messages" hx-swap-oob="true">

        {% if msg %}
            <li class="success">{{msg}}</li>
        {% elif error %}
            <li class="error">{{error}}</li>
        {% endif %}
    </ul>
{% endif %}

<script>
    add_csrf();
</script>