.tab {
  margin: 20px auto;
  width: 95%;
  padding: 20px;
  padding-top: 0px;
  background: white;
  border-radius: 8px;
  border: 1px solid rgb(216, 218, 220);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.sub-tab {
  margin-left: 20px;
}

form {
  margin: 0px;
  padding: 0;
  margin-left: 10px;
}

.form-field {
  margin: 5px;
  display: inline-block;
}

.form-field label {
  font-weight: 400;
}

.form-field input::placeholder {
  font-weight: 600;
  font-size: 14px;
}

.form-field input {
  font-weight: 600;
  font-size: 14px;
}

.form-field select {
  min-width: 150px;
  width: max-content;
  font-style: italic;
}

li {
  margin-bottom: 5px;
  margin-left: 5px;
}

.searchQuery {
  display: block;
  margin-bottom: 20px;
}

select {
  background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
  background-position: 95% center;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 20px;
  padding: 5px;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

input {
  border-radius: 20px;
  padding: 5px;
  padding-left: 0.75rem;
  border: 2px solid lightgray;
}

input::placeholder {
  color: #aaa;
  font-style: italic;
}

.loading-button {
  background-color: grey;
}

.error-button {
  background-color: red;
}

.write-card {
  display: inline-block;
}

.edit-task:hover {
  background-color: #367b39;
  transform: translateY(-2px);
}

.back-dash:hover {
  background-color: #367b39;
  transform: translateY(-2px);
}

.table-view {
  overflow: scroll;
  border: 1px solid lightgray;
  max-height: 500px;
  padding: 0px 9.5px 0px 0px;
  border-collapse: collapse;
}

.column-heading {
  font-weight: 700;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  text-align: center;
  background-color: white;
  padding: 5px;
  border-collapse: collapse;
}

.row-data {
  border: 1px solid lightgray;
  margin: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-collapse: collapse;
  transition: 1s;
  text-align: center;
}

.image {
  flex-direction: column;
}

.image img {
  width: 210px;
  display: block;
  margin: 10px auto;
}

.first {
  position: sticky;
  top: 0;
  z-index: 10;
}

.view-area {
  position: sticky;
  right: -10px;
  /* what a hack. [Ain't nobody reading this] */
  background-color: white;
  border: 1px solid gray;
}

.full-row {
  grid-column: 1/-1;
}

.report-status {
  font-weight: bold;
  flex-shrink: 1;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.report-status p {
  display: inline;
  width: max-content;
  margin: 4px;
  border-radius: 50px;
}

.report-text {
  display: inline;
}

.status-report {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2px;
  align-items: center;
  justify-content: center;
}

.loading {
  position: sticky;
  right: 4px;
  border: none;
  display: flex;
}

.full-flex-row {
  display: flex;
  overflow-y: scroll;
  scrollbar-width: none;
}

button {
  height: 50px;
  margin: 10px;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  border: none;
}

.submit {
  background-color: #367b39;
}

.cancel {
  background-color: red;
}

.submit:hover {
  background-color: darkgreen;
}

.cancel:hover {
  background-color: darkred;
}

.change-me {
  display: flex;
  flex-direction: column;
}

.view-icon {
  width: 75px;
  background-color: #367b39;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0px 5px 0px 5px;
  cursor: pointer;
}

.refresh {
  width: 100px;
  display: flex;
  background-color: #0098ff;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  overflow: hidden;
  cursor: pointer;
}

.refresh-text,
.view-text {
  display: flex;
  transition: 1s;
  align-content: center;
  justify-items: center;
  text-align: center;
  margin: auto;
}

.refresh-text {
  width: 50px;
  margin: 0;
  padding: 0;
}

.view-text {
  width: 30px;
  margin: 0;
  padding: 0;
}

.refresh:hover p,
.rows.htmx-request .refresh p {
  width: 0px;
  transform: translateX(50px);
  transition: 1s;
  margin-right: 0px;
}

.refresh:hover img,
.rows.htmx-request .refresh img {
  margin: auto;
  transform: rotateZ(180deg);
  transition: 1.5s;
}

.rows.htmx-request .refresh,
.rows.htmx-request .view-icon {
  cursor: not-allowed;
}

.data-loading {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  max-height: max-content;
}

.grid-layout {
  display: grid;
  grid-template-rows: 1fr 2fr;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
  z-index: 0;
  border: #555;
  column-gap: 5px;
}

.edit-button {
  width: 20px;
  height: 20px;
  background-color: white;
  display: inline-flex;
  padding: 0px;
  margin: 0px;
  transition: 500ms;
}

.edit-button:hover {
  transform: translateY(-3px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.edit-button:hover .popup {
  visibility: visible;
  animation: fadeIn 1s;
}

.view-icon:hover img {
  opacity: 1;
  height: 30px;
  transition: 1s;
}

.view-icon:hover p {
  opacity: 0;
  transition: 1s;
}

.view-icon img {
  transform: translateX(50%);
  position: relative;
  opacity: 0;
  transition: 1s;
  height: 0;
  width: 30px;
}

.view-icon p {
  position: relative;
  opacity: 1;
  transform: translateX(-50%);
}

.refresh img {
  display: inline;
  width: 30px;
  height: 30px;
  padding: 0;
  transition: 1s;
}

.refresh-text {
  width: 50px;
  margin: 0;
}

div.report-status {
  font-weight: bold;
  flex-shrink: 1;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.report-status p {
  display: inline;
  width: max-content;
  margin: 4px;
  border-radius: 50px;
}

.report-text {
  display: inline;
}

.status-report {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2px;
}

.edit-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.edit-form input {
  max-width: 200px;
}

.assign-form {
  margin-left: 10px;
}

/* HTMX CSS below */

.rows.htmx-request .refresh img {
  animation-name: rotateAboutZ;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

.rows.htmx-added .row-data {
  background-color: yellow;
  transition: 1s;
}

.rows.htmx-request .row-data {
  opacity: 0.5;
}

.rows.htmx-request .view-area {
  opacity: 1;
}

.correct {
  display: inline-block;
  padding: 10px;
  color: white;
  background-color: green;
}

.wrong {
  display: inline-block;
  padding: 10px;
  color: white;
  background-color: red;
}

.none {
  display: inline-block;
  padding: 10px;
  color: white;
  background-color: grey;
}

/* Media Query */

@media screen and (max-width: 600px) {
  .view-area {
    position: relative;
    right: 0px;
  }
}
