{% extends 'Main/index.html' %}
{% load template %}
{% load static %}


{% block styleSheet %}
    <link rel="stylesheet" href="{% static 'styles/Dash/styles.css' %}">
{% endblock %}

{% block title %} User Task Dashboard {% endblock %}

{% block cssStyle %}
    a{
        text-decoration: none;
    }
        
    .arrow {
        margin-left: auto;
        font-size: 18px;
        color: #6c757d;
        display: inline;
    }
        
    .log-view{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    {% if request.session.mainColor and request.session.secColor %}
        header{
            background-color: {{request.session.mainColor}};
            color: {{request.session.secColor}};
        }

        body{
            color: {{request.session.mainColor}};
        }

        header .user-log, header .add-task{
            color: {{request.session.mainColor}};
        }

        .task-item h3{
            color: {{request.session.mainColor}};
        }

        .container{
            background-color: {{request.session.secColor}};
        }

    {% endif %}

{% endblock %}

{% block headerLeft %}
    <a class="next-button logout" onclick="confirmPrompt(`{% url 'Logout:logout' %}`)">Logout</a>
{% endblock %}

{% block headerCenter %}<h1>Task Dashboard</h1>{% endblock %}

{% block headerRight %}
    {% block manager_button%}{% endblock %}
    {% block uploader_button%}{% endblock %}
{% endblock %}

{% block mainContent %}
    {% block uploader %} {% endblock %}
    {% block manager %} {% endblock %}

    <div class="tab">
        <div class="log-view">
            <h2><span>View Logs</span></h2>
            <a href="{% url 'Logs:logs' %}" class="log-item">
                <span class="arrow">&#9654;</span>
            </a>
        </div>
    </div>

    <div class="tab">
        <div class="log-view">
            <h2><span>Account Settings</span></h2>
            <a href="{% url 'User:index' %}" class="log-item">
                <span class="arrow">&#9654;</span>
            </a>
        </div>
    </div>
{% endblock %}

{% block script %}

{% endblock %}