{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    {% block styleSheet %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>

    {% block cssStyle %}{% endblock %}

    {% if request.session.mainColor and request.session.secColor %}
        {% block customStyle %}{% endblock %} 
    {% endif %}

</head>
<body>
    <header>
        <div class="hamburger">
            <svg width="50px" height="50px" viewBox="0 0 24 24">
                <path d="M4 18L20 18" stroke="currentcolor" stroke-width="2" stroke-linecap="round"/>
                <path d="M4 12L20 12" stroke="currentcolor" stroke-width="2" stroke-linecap="round"/>
                <path d="M4 6L20 6" stroke="currentcolor" stroke-width="2" stroke-linecap="round"/>
            </svg>
        </div>
        <div class="header-left">

            {% block headerLeft %}{% endblock %}
        </div>

        <div class="header-center">
            {% block headerCenter %}{% endblock %}
        </div>
        <div class="header-right">
            {% block headerRight %}{% endblock %}
        </div>
        
    </header>
    <div class="header-option close"></div>

    <dialog>
        <div class="my-dialog">
            <div class="dialog-header">
                <div class="dialog-title">Heading</div>
                <button class="dialog-close">X</button>
            </div>
            <div class="dialog-message">Message</div>
            <div class="dialog-button">
                <button class="dialog-yes">Yes</button>
                <button class="dialog-no">No</button>
            </div>
        </div>
    </dialog>

    <div class='container'>
        {% block mainContent %}{% endblock %}
    </div>

    <footer>
        <img src="{% static 'images/logo.png' %}" alt="TinkerTechLogix logo">
        <span class='copyright'>&copy;</span><p> 2025 Smart Data Management System </p>
    </footer>

</body>
<script src="{% static 'js/htmx.js' %}"></script>
<script src="{% static 'js/socket.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
{% block script %}{% endblock %}
</html>