{% load template %}


{% if error %}

<ul class="messages">
    <li class="error">{{error}}</li>
</ul>
{% else %}

    {% for i in upload %}
        <div class="task-item">
            <h3>Upload {{ i.idx }}: {{i.uploader}} - {{i.file_name}}</h3>
            <button class="drop-down down" id="down_{{i.idx}}" onclick="addClass('.task-info#down_{{i.idx}}','open','close')">&#11206;</button>
        </div>
        <div class="task-info close" id="down_{{i.idx}}">
            <div class="assigned">
                <h4>
                    Assignment Status: 
                    {% for j in i.manager %} 
                        {{ j }}

                        {% if not forloop.last %}, {% else %} . {% endif %}

                    {% empty %}
                        No one Assigned Yet.
                    {% endfor %}
                </h4>
            </div>
            <a href="{% url 'View:table' id=i.id %}" class="view-button">View Data</a>
        </div>

        {% if forloop.last %}
            <div hx-get="{% url 'Dash:admin_upload' %}" hx-target="closest div" hx-swap="outerHTML" hx-trigger="intersect once" hx-vals='{"query": "{{request.GET.query}}", "start": "{{next}}", "value": "{{request.GET.value}}"}'></div>
        {% endif %}

    {% endfor %}

{% endif %}