{% load template %}


{% if error %}
    <ul class="messages">
        <li class="error">{{error}}</li>
    </ul>

{% else %}

    {% for i in manage %}
        <div class="task-item">
            <h3>Upload {{ i.idx }}: {{i.uploader}} - {{i.file_name}}</h3>
            <button class="drop-down down" id="up_{{i.idx}}">&#11206;</button>
        </div>
        <div class="task-info" id="up_{{i.idx}}">
            Assigned To: 
            {% for j in i.manager %}
                <li>
                    {{ j  }}
                </li>
            {% empty %}
                <h4>No one Assigned Yet</h4>
            {% endfor %}

            <a href="{% url 'View:table' id=i.id %}" class="view-button">View Data</a>
        </div>

        
        {% if forloop.last %}
            <div hx-get="{% url 'Dash:admin_manage' %}" hx-target="closest div" hx-swap="outerHTML" hx-trigger="intersect once" hx-vals='{"query": "{{request.GET.query}}", "start": "{{next}}", "value": "{{request.GET.value}}"}'></div>
        {% endif %}

    {% endfor %}

{% endif %}