{% load template %}
{% load static %}

{% if error %}
    <div class="full-flex-row">
        <div class="loading">
            <ul class="messages">
                <li class="error"><span>{{error}}</span></li>
            </ul>
        </div>
    </div>
{% else %}

    {% for idx,row in result.items %}

        <div class="rows" id="{{idx}}" hx-get="" hx-trigger="click from:find .refresh delay:1s" hx-target="closest div" hx-swap="outerHTML settle:500ms">
            {% for image in images %}

                {% with IMAGE=row.data|index_str:image|img %}
                    <div class="row-data column-{{ image|encode|hex }}"><img src="{{IMAGE.img}}" width="{{IMAGE.width}}" height="{{IMAGE.height}}"></div>

                {% endwith %}
            {% endfor %}

            {% for column in columns %}
                <div class="row-data column-{{ column|encode|hex }}">

                        <div>
                            {{row.data|index_str:column|str}}
                        </div>
                </div>

            {% endfor %}


            <div class="row-data view-area">
                <div class="grid-layout">
                    <div class="data-loading">
                        <button class="view-icon" onclick="redirect(`{% url 'Report:index' id=id idx=idx %}`);">
                            <img src="{% static 'images/view.png' %}" alt="Refresh Page">
                            <p class="view-text">View</p>
                        </button>

                    </div>
                    <div class="status-report">
                        <div class="report-status">
                            <p>Verify Status: </p>
                            {% if row.status is True %}
                                <p class="correct">Verified</p>
                            {% elif row.status is False %}
                                <p class="wrong">Rejected</p>
                            {% else %}
                                <p class="none">Unchecked</p>
                            {% endif %}
                        </div>

                        <div class="report-status">
                            <p>Lock Status: </p>
                            {% if row.locked is True %}
                                <p class="correct">Locked</p>
                            {% else %}
                                <p class="wrong">Unlocked</p>
                            {% endif %}
                        </div>

                        <div class="report-status">
                            <p>Issue Status: </p>
                            {% if row.issued is True %}
                                <p class="correct">Issued</p>
                            {% else %}
                                <p class="wrong">Not Issued</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if forloop.last %}
            <div class="full-flex-row" hx-get="{% url 'Table:htmxRows' id=id %}"
                 hx-vals= '{"page": "{{ max_record }}", "column": "{{ request.GET.column }}", "issue": "{{ request.GET.issue }}", "lock": "{{ request.GET.lock }}", "search": "{{ request.GET.search }}", "status": "{{ request.GET.status }}"}'
                 hx-trigger="intersect once" hx-target="this" hx-swap="outerHTML">
                <div class="loading" >
                    <img src="{% static 'images/spinner.png' %}" alt="Loading">
                    <h2>Loading more data...</h2>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<script>
    centerDiv();
</script>
