{% load template %}
{% load static %}

{% if error %}
    <div class="full-flex-row">
        <div class="loading">
            <ul class="messages">
                <li class="error"><span>{{error}}</span></li>
            </ul>
        </div>
    </div>
{% else %}

    {% for rowID, row in result.items %}

        {% include 'Table/HTMX/base/sem.row.base.html' %}

        {% if forloop.last %}
            <div class="full-flex-row" hx-get="{% url 'Table:htmxSemRows' id=id idx=idx %}"
                 hx-vals= '{"page": "{{ max_record }}", "column": "{{ request.GET.column }}", "issue": "{{ request.GET.issue }}", "lock": "{{ request.GET.lock }}", "search": "{{ request.GET.search }}", "status": "{{ request.GET.status }}"}'
                 hx-trigger="intersect once" hx-target="this" hx-swap="outerHTML">
                <div class="loading" >
                    <img src="{% static 'images/spinner.png' %}" alt="Loading">
                    <h2>Loading more data...</h2>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
