body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f5f5f5;
  display: grid;
  grid-template-rows: 1fr 0 8fr 1fr;
  grid-template-columns: 100%;
  grid-auto-rows: 0;
}

header {
  display: flex;
  text-align: center;
  align-items: center;
  background-color: #5256ba;
  color: white;
}

header h1 {
  margin: 0px;
  height: min-content;
}

header .hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 15px;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid black;
  height: 50px;
  transition: 300ms;
}

header .hamburger:hover {
  border-radius: 8px;
  background-color: grey;
}

header .hamburger.open {
  background-color: grey;
}


.header-option {
  --height: 100px;
  background-color: #5256ba;
  padding: 5px 25px 5px 25px;
  height: var(--height);
  overflow: hidden;
  flex-direction: column;
  justify-content: space-evenly;
  display: flex;
  align-items: stretch;
  transition: 700ms;
  align-items: stretch;
  flex-direction: column;
  z-index: 100;
  backdrop-filter: blur(5px);
  box-shadow: 0px 5px 5px grey;
  grid-row: 2;
}

.header-option * {
  display: flex;
  justify-content: center;
  font-weight: 700;
}

.header-option.close {
  height: 0px;
  padding: 0px;
  transition: 700ms;
}

svg path {
  fill: #f5f5f5;
  stroke: #f5f5f5;
  transition: 300ms;
}

header .header-left,
header .header-right {
  padding: 5px;
  align-items: center;
  display: flex;
  width: 120px;
}

header .header-left {
  justify-content: flex-start;
  padding-left: 15px;
}

header .header-right {
  justify-content: flex-end;
  padding-right: 15px;
}

header .header-center {
  flex-grow: 1;
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: flex-start;
  margin-left: 15px;
}

.container {
  padding: 10px;
  padding-top: 20px;
  margin: 0px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-grow: 10;
  width: auto;
}

footer {
  background-color: yellow;
  color: gray;
  padding: 5px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
}

footer p {
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

footer .copyright {
  font-size: 30px;
  margin-right: 5px;
  font-weight: 400;
}

footer img {
  width: 100px;
  height: 100px;
}

dialog {
  margin: 0;
  padding: 0;
  border-radius: 10px;
  border: 1px solid gray;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  resize: both;
}


dialog .my-dialog {
  display: flex;
  flex-direction: column;
  padding: 0;
  min-width: 200px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin: 0px;
}

dialog .dialog-header {
  background-color: rgb(127, 210, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5px 0px 5px;
  border-radius: 5px 5px 0px 0px;
  word-wrap: break-word;
}

.dialog-header button {
  background-color: red;
  border: 1px  solid gray;
  color: white;
  transition: 500ms;
}

.dialog-header button:hover {
  background-color: darkred;
}

.dialog-header .dialog-title {
  padding: 5px;
  word-break: break-all;
}

dialog .dialog-message {
  padding: 5px 5px 0px 10px;
  word-wrap: break-word;
  flex-grow: 1;
}

dialog .dialog-button {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 3px;
}

dialog .dialog-button button {
  margin: 5px;
}

.messages {
  list-style: none;
  margin: 0px;
  padding: 0;
  width: 100%;
  max-width: 1000px;
  position: sticky;
  border-radius: 8px;
  top: 15px;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.messages li {
  display: block;
  width: 80%;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #fff;
  box-shadow:
    1px 1px 4px rgba(0, 0, 0, 0.2),
    1px 1px 4px rgba(0, 0, 0, 0.2),
    1px -1px 4px rgba(0, 0, 0, 0.2),
    -1px 1px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  text-align: center;
}

.messages li:hover {
  transform: scale(1.02);
}

.messages li.success {
  background-color: #4caf50;
  margin: 0px;
}

.messages li.error {
  background-color: #f44336;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid lightgray;
  color: inherit;
}

@keyframes rotateAboutZ {
  100% {
    transform: rotateZ(360deg);
  }
}

.loading img {
  width: 100px;
  height: 100px;
  display: inline;
  margin: 5px;
  animation-name: rotateAboutZ;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: steps(12);
}

.loading h2 {
  display: inline;
  font-weight: bold;
  margin: 5px;
}

.process-state  {
  overflow: hidden;
}

.dialog {
  flex-direction: column;
  padding: 5px;
}

dialog.loading::backdrop {
  backdrop-filter: blur(1px);
}

.dialog h2 {
  color: inherit
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.logo img {
  height: 50px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #fff;
  padding: 5px;
}

.next-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #ffffff;
  background-color: #4caf50;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

[data-title]:hover:after {
  opacity: 1;
  visibility: visible;
  transition: all 0.1s ease 0.5s;
}

[data-title]:after {
  content: attr(data-title);
  background-color: #333;
  color: #fff;
  position: absolute;
  padding: 5px;
  left: 100%;
  bottom: 100%;
  white-space: wrap;
  width: 150px;
  box-shadow: 1px 1px 3px #222222;
  opacity: 0;
  border: 1px solid #111111;
  font-size: 12px;
  z-index: 99999;
  visibility: hidden;
  transition: all 0.1s ease 0.5s;

}
[data-title] {
  position: relative;
}

@media screen and (max-width: 600px) {
  .logo img {
    display: none;
  }
}