{% load template %}
{% load static %}

{% with IMAGE=value|img %}
    {% if locked is False %}
        <div class="row-data image column-{{ column }}">
            <img src="{{IMAGE.img}}" id="img_{{rowID}}_{{column}}" loading="lazy">

            <div hx-put="{% url 'Table:htmxSemEditImage' id=id idx=idx rowID=rowID %}" hx-vals='{"column":"{{ column }}"}' hx-swap="outerHTML" hx-target="closest div" hx-trigger="click from:find img">

                <img class="edit-button" src="{% static 'images/edit.svg' %}" data-title="Edit This Field" loading="lazy">
            </div>
        </div>

    {% else %}

        <div class="row-data image column-{{ column }}"><img src="{{IMAGE.img}}" width="{{IMAGE.width}}" height="{{IMAGE.height}}" loading="lazy"></div>

    {% endif %}

{% endwith %}